DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=parivar
DB_POOL_SIZE=10
# First super admin created by `npm run db:seed`
SEED_ADMIN_PHONE=9999999999
SEED_ADMIN_PASSWORD=change-me
SEED_ADMIN_NAME=Super Admin
